<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milestones</title>
</head>
<body>
    <h1>Milestones</h1>
    <form action="/milestone2" method="GET">
        <button type="submit">Milestone 2</button>
    </form>
    <form action="/milestone3" method="GET">
        <button type="submit">Milestone 3</button>
    </form>
    <form action="/milestone4" method="GET">
        <button type="submit">Milestone 4</button>
    </form>
    <!-- Add more forms/buttons for additional milestones -->
</body>
</html>
